<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <title>Story App</title>
</head>
<body class="container-fluid">
  <main class="container vstack gap-2 w-100 mt-5" style="max-width: 58rem;">
    <company-profile
      image="/favicon-32x32.png"
      name="UStory."
      description="UStory aims to become the go-to platform for aspiring writers and avid readers by providing a seamless and enjoyable storytelling experience.
      With a focus on user engagement and community building, UStory will foster creativity and collaboration in the digital storytelling space."
    ></company-profile>
    <hr>
    <key-features></key-features>
    <button-link-ustory content="Back to Home" to="/" large></button-link-ustory>
  </main>
</body>
</html>