<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <title>Story App</title>
</head>
<body class="container-fluid text-bg-dark">
  <div class="d-flex flex-column justify-content-center h-100 mt-5">
    <main class="container py-3 w-100" style="max-width: 58rem;">
      <img src="/favicon-32x32.png" alt="logo" width="32" height="32">
      <h1>UStory.</h1>
      <p class="lead">UStory aims to become the go-to platform for aspiring writers and avid readers by providing a seamless and enjoyable storytelling experience. With a focus on user engagement and community building, UStory will foster creativity and collaboration in the digital storytelling space.</p>
      <hr>
      <h2 class="">Key Features</h2>
      <div class="row mt-3">
        <div class="col-sm-6 col-md-4">
          <div class="key-feature">
            <h3>Story Creation</h3>
            <p>
              Rich text editor with formatting tools,
              Media embedding (images)
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="key-feature">
            <h3>Story Sharing</h3>
            <p>
              Public and private sharing options,
              Customizable story URLs for easy sharing,
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="key-feature">
            <h3>Search and Discovery</h3>
            <p>
              Advanced search filters,
              Featured and trending stories section
            </p>
          </div>
        </div>
      </div>
      <a href="/" class="btn btn-lg btn-light fw-bold border-white bg-white mt-3">Back to Home</a>
    </main>
  </div>
</body>
</html>