<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>UStory | Sign Up</title>
  </head>
  <body class="auth-bg">
    <div class="container-fluid vstack justify-content-center h-100vh">
      <main class="container-lg auth-section p-4 p-md-5 rounded bg-light">
        <company-profile
          url="/"
          image="/favicon-32x32.png"
          name="UStory."
        ></company-profile>
        <alert-ustory type="danger" hidden></alert-ustory>
        <alert-ustory type="success" hidden></alert-ustory>
        <register-form-ustory></register-form-ustory>
      </main>
    </div>
  </body>
</html>
