.auth-section {
  width: 100%;
  max-width: 30rem;
}

.auth-bg {
  background-image: url('../public/img/auth_bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}